.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    margin: 12px;
    position: relative;
    background: url(images/back.jpg);
  }
  .cards img {
    margin: 10px;
    border: 3px solid rgb(52, 95, 75);
    box-shadow: 3px 3px 8px 0px rgba(27, 9, 19, 0.3); 
    max-width: 25vw;
  }
  header{
    height:50px;
    background: rgb(153, 211, 19);
    width:100%;
    position: relative;;
}
header h1{
    font-family: italian;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(8, 48, 10);
}
